@import "../css/Root.css";

#main-header {
    background: var(--header-background-color);
    color: var(--secondary-text-color);
}

#logo {
    display: flex;
    align-items: center;
}

#login {
    position: absolute;
    top: 1%;
    right: 1%;
}

#login a {
    text-decoration: none;
    color: var(--secondary-text-color);
}

#login a:hover {
    color: var(--hover-color);
}
