#main-nav {
    padding: 10px;
    background: var(--secondary-background-color);
    border-top: 1px solid var(--secondary-text-color);
    padding: 2px;
}

#main-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

#main-nav li {
    margin-right: 20px;
    margin-left: 20px;
}

#main-nav a {
    text-decoration: none;
    color: var(--text-color);
}

#main-nav a:hover {
    color: var(--hover-color);
    border-bottom: 1px solid var(--hover-color);
}

.hidden {
    display: none;
}

.hidden-small {
    display: none;
}

.triangle-up {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent; 
    border-bottom: 10px solid black;
    margin-left: 10%;
}

.triangle-down {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    margin-left: 10%;
  }
